@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}

.box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add this line for the shadow */
}

.box img {
    margin-top: auto;
    margin-left: auto;
}



header {
    text-align: center;
    padding: 35px;
    max-width: 500px; /* Set the maximum width for the header */
    margin: 0 auto;
}

#title1 {
    font-weight: 200;
}

#title2 {
    font-weight: 600;
}

p {
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

h1,h3 {
    margin: 0;
    color: hsl(234, 12%, 34%);
}


.container {
    display: grid;
    gap: 30px;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.box:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    /* Center horizontally within the column */
    align-self: center;
    /* Center vertically within the row */
    width: 300px;
    border-top: 5px solid hsl(180, 62%, 55%);
}

.box:nth-child(2) {
    grid-column: 2/3;
    width: 300px;
    border-top: 5px solid hsl(0, 78%, 62%);
}

.box:nth-child(3) {
    grid-column: 2/3;
    width: 300px;
    border-top: 5px solid hsl(34, 97%, 64%);
}

/* Center Box 4 between column 3 row 1 and column 3 row 2 */
.box:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    width: 300px;
    border-top: 5px solid hsl(212, 86%, 64%);
}

/* Your existing CSS rules */

@media screen and (max-width: 768px) {
    /* Apply styles for screens with a minimum width of 768px */
    header {
        max-width: 370px; /* Set the maximum width for the header */
        margin: 0 auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
  
  /* Rest of your CSS rules */
  
}